body{
    /*background-color:rgb(183, 248, 118);*/
    /*background-image: linear-gradient(to right,rgb(58, 181, 238),rgb(110, 24, 24));*/
    background-image: linear-gradient(to right,rgb(58, 181, 238),rgb(228, 17, 17));
    margin:0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-track{
    width: 20px;
}
::-webkit-scrollbar-thumb{
    width: 20px;
    height: 10px;
    background-color: rgb(10, 6, 31);
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(17, 10, 49);
}
.header{
    margin: auto;
    padding: 0%;
    margin-top: 0%;
    text-align: center;
    color: rgb(252, 243, 227);
    background-color: rgb(10, 6, 31);
    border-bottom:1px solid rgb(252, 243, 227);
    text-shadow: 0px 3px 3px rgb(10, 22, 10);
    box-shadow: 0px 0px 5px 3px rgb(0,0,0);
    transition: 1s;

}
.header:hover{
    background-color: rgb(17, 10, 49);
    color: rgb(252, 243, 227);
    text-shadow: 0px 3px 3px rgb(26, 7, 7);
    transition: 1s;
}
.details{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
}
.container{
    grid-column-start: 1;
    grid-column-end: 2;
    margin: auto;
    padding-left: 1%;
    background-color: rgb(10, 6, 31);
    height: 95%;
    width: 95%;
    color: rgb(252, 243, 227);
    border:1px solid rgb(252, 243, 227);
    border-radius: 5px;
    overflow: auto;
    box-shadow: 0px 0px 5px 3px rgb(0,0,0);
    transition: 0.3s;
}
.abouttitle{
    text-align: center;
    font-size: large;
}
.container:hover{
    height: 96%;
    width: 96%;
    background-color: rgb(17, 10, 49);
    color: rgb(252, 243, 227);
    border:1px solid rgb(252, 243, 227);
    box-shadow: 0px 0px 5px 5px rgb(0,0,0);
    text-shadow: 0px 3px 5px rgb(26, 7, 7);
    border-radius: 15px;
    transition: 0.3s;
}
.data{
    grid-column-start: 2;
    grid-column-end: 3;
    margin: auto;
    background-color: rgb(10, 6, 31);
    height: 95%;
    width: 95%;
    color: rgb(252, 243, 227);
    border:1px solid rgb(252, 243, 227);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 3px rgb(0,0,0);
    transition: 0.3s;
    overflow: auto;

}
.data:hover{
    height: 96%;
    width: 96%;
    background-color: rgb(17, 10, 49);
    color: rgb(252, 243, 227);
    border:1px solid rgb(252, 243, 227);
    box-shadow: 0px 0px 5px 5px rgb(0,0,0);
    text-shadow: 0px 3px 5px rgb(26, 7, 7);
    border-radius: 15px;
    transition: 0.3s;
}
.data::-webkit-scrollbar{
    width: 20px;
    border-radius: 15px;
}
.data::-webkit-scrollbar-track{
    width: 20px;
    border-radius: 15px;
}
.data::-webkit-scrollbar-thumb{
    width: 20px;
    background-color: rgb(10, 6, 31);
    border-radius: 15px;
}
.data::-webkit-scrollbar-thumb:hover{
    background-color: rgb(9, 6, 20);
}
.container::-webkit-scrollbar{
    width: 20px;
    border-radius: 15px;
}
.container::-webkit-scrollbar-track{
    width: 20px;
    border-radius: 15px;
}
.container::-webkit-scrollbar-thumb{
    width: 20px;
    background-color: rgb(10, 6, 31);
    border-radius: 15px;
}
.container::-webkit-scrollbar-thumb:hover{
    background-color: rgb(9, 6, 20);
}
.datatitle{
    text-align: center;
    font-size: large;
}
.form{
    padding-left: 3%;
    padding-bottom: 1%;
}
.submit{
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgb(228, 17, 17);
    text-decoration: none;
    width: 100%;
    border-radius: 5px;
    transition: 0.5s;
}
.submit:hover{
    cursor: pointer;
    background-color: rgb(58, 181, 238);
    transition: 0.5s;
    border-radius: 10px;
}