body{
    /*background-color:rgb(183, 248, 118);*/
    background-image: linear-gradient(to right,rgb(114, 190, 224),rgb(224, 70, 70));
    margin:0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-track{
    width: 20px;
}
::-webkit-scrollbar-thumb{
    width: 20px;
    height: 10px;
    background-color: rgb(10, 6, 31);
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(17, 10, 49);
}
.header{
    margin: auto;
    padding: 0%;
    margin-top: -2%;
    text-align: center;
    color: rgb(252, 243, 227);
    background-color: rgb(10, 6, 31);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom:1px solid rgb(252, 243, 227);
    text-shadow: 0px 3px 3px rgb(10, 22, 10);
    box-shadow: 0px 0px 5px 3px rgb(0,0,0);
    transition: 1s;

}
.header:hover{
    background-color: rgb(17, 10, 49);
    color: rgb(252, 243, 227);
    text-shadow: 0px 3px 3px rgb(26, 7, 7);
    transition: 1s;
}
.display{
    margin: auto;
    margin-top: 1%;
    background-color: rgb(10, 6, 31);
    height: 50%;
    width: 50%;
    color: rgb(252, 243, 227);
    border:1px solid rgb(252, 243, 227);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 3px rgb(0,0,0);
    transition: 0.3s;
    text-align: center;
}
.display:hover{
    height: 51%;
    width: 51%;
    background-color: rgb(17, 10, 49);
    color: rgb(252, 243, 227);
    border:1px solid rgb(252, 243, 227);
    box-shadow: 0px 0px 5px 5px rgb(0,0,0);
    text-shadow: 0px 3px 5px rgb(26, 7, 7);
    transition: 0.3s;
    text-align: center;
}
.analyse{
    font-size: large;
    text-align: center;
}
.ans{
    font-size: large;
    text-align: center;
}
.return{
    margin: auto;
    margin-bottom: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgb(218, 35, 35);
    text-decoration: none;
    width: 90%;
    border-radius: 5px;
    transition: 0.5s;
}
.return:hover{
    cursor: pointer;
    background-color: rgb(59, 167, 218);
    transition: 0.5s;
    border-radius: 10px;
}
a{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}